{% extends 'back/base.html.twig' %}

{% block title %}TypeContrat index{% endblock %}

{% block body %}
    <h1>TypeContrat index</h1>


    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="container-fluid pt-4 px-4" style="bottom:0;">

            {# <div class="card-body"> #}
                <a href="{{ path('app_type_contrat_new') }}" class="btn-danger">Create new</a>
                    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_contrat in type_contrats %}
            <tr>
                <td>{{ type_contrat.id }}</td>
                <td>{{ type_contrat.typeC }}</td>
                <td>
                    <a href="{{ path('app_type_contrat_show', {'id': type_contrat.id}) }}">show</a>
                    <a href="{{ path('app_type_contrat_edit', {'id': type_contrat.id}) }}">edit</a>
                    {{ include('type_contrat/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
