<!DOCTYPE html>

<title>Commande</title>

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>NbArticles</th>
                <td>{{ commande.NbArticles }}</td>
            </tr>
            <tr>
                <th>TotalCommande</th>
                <td>{{ commande.TotalCommande }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ commande.etat }}</td>
            </tr>
            <tr>
                <th>NumTelClient</th>
                <td>{{ commande.NumTelClient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('back/commande/_delete_form.html.twig') }}
{% endblock %}
