{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonnement.id }}</td>
            </tr>
            <tr>
                <th>Salle</th>
                <td>{{ abonnement.salle }}</td>
            </tr>
            <tr>
                <th>DateD</th>
                <td>{{ abonnement.DateD ? abonnement.DateD|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MPayement</th>
                <td>{{ abonnement.MPayement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_index') }}">back to list</a>

    <a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">edit</a>

    {{ include('abonnement/_delete_form.html.twig') }}
{% endblock %}
