
{% extends 'front/baseF.html.twig' %}
{% block title %}
Your Cart
    {% endblock %}
    {% block home %}{% endblock %}
{% block shop %}active{% endblock %}
    {% block body %}
   
     <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('assets/front/img/breadcrumb-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Panier</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    

<section class="h-100 h-custom" style="background-color: #eee; background-repeat: no-repeat;
background-size: cover;
 background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3ltJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80');
">
<div ></div>
  <div class="container py-5 h-100">
 
    <div class="row d-flex justify-content-center align-items-center h-100">
  
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
    <a href="{{path('app_panier_show')}}"><span class="badge badge-dark">Historique Panier</span></a>
            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    
                  </div>
                  <div>
                    <p class="mb-0"><span class="text-muted">Sort by:</span> 
                   {% if ordre  =='desc' %}
                    <a href="{{ path('app_cart', {'ordre': 'asc'}) }}" class="text-body">price
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
    </svg>
    </a>
    {% elseif ordre=='asc' %}
    <a href="{{ path('app_cart', {'ordre': 'desc'}) }}" class="text-body">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
    </a>
    {%  endif %}
                    </p>
                  </div>
                </div>
                 {% if LignePaniers == null %}
               You have 0 items in your cart

                  
                {% endif %}
  {%  for element in LignePaniers %}
                <div class="card mb-3 ">
               
                  <div class="card-body js-vide ">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{ asset('uploads/'~ element.Produit.image)}}"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5> {{element.Produit.nom}}</h5>
                        </div>
                      </div>
                    
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0 js-quantite">{{element.quantite}}</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0 js-totalProduit">{{element.totalProduit}} DT</h5>
                        </div>
                          {% if element.produit.stock  >0  %}
                        <a href="{{path('app_cart_update',{id:element.produit.id})}}"class="btn btn-success js-add" data-id="{{ element.id }}"><i class="bi bi-cart-plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16"><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/></svg></svg></i>
                         </a>
                          {% endif %}
                          <a href="{{path('app_cart_remove',{id:element.produit.id})}}"class="btn btn-warning js-remove"><i class="bi bi-cart-plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16"><path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg></i>
                        </a>
                         <a href="{{path('app_cart_delete',{id:element.produit.id})}}"class="btn btn-danger js-delete" data-id="{{ element.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16"><path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/> <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg>
                           </a>
                        </div>
                    
                    </div>
                  </div>
                </div>
                
            {% endfor %}

               

              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Card details</h5>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                    </div>

                   

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2 js-totalP">{{total}} DT</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">7 DT</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                     
                    </div>
 {%  if LignePaniers != null %}
             <a href="{{path('app_panier_add')}}">
          
                    <button type="button" class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        <span class="js-totalC">{{totalC}} DT</span>
                        <span >Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>
                    </a>
  {% endif %}
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
    {% endblock %}  
     {% block jsbergila %}
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script>
                        //---------------------------incrémentation quantité------------------------


               function onClickBtnAdd(event)
                { 
                    event.preventDefault();
                    
                    //this return sur les a
                    const url=this.href;
                  
                    // const spanCounts = this.parentNode.parentNode.querySelectorAll(
                    //'h5.js-quantite, h5.js-totalProduit'
                  //); 
                  const spanCount1=this.parentNode.parentNode.querySelectorAll('h5.js-quantite')
                  const spanCount2=this.parentNode.parentNode.querySelectorAll('h5.js-totalProduit')
                
               
                    const spanCount3 = document.querySelector('p.js-totalP');
                    const spanCount4 = document.querySelector('span.js-totalC');
                      
                    //console.log(spanCount);
                    axios.get(url).then(function(response){
                  
                    
                    spanCount1[0].textContent = response.data.nbr;
                    spanCount2[0].textContent = response.data.total + "DT";
                    
                      
                    spanCount3.textContent=response.data.totalP+" DT";
                    spanCount4.textContent=response.data.totalC+" DT";
                 
                    })
                  
                  

                }
                //---------------------------décrementation quantité------------------------
                 function onClickBtnRemove(event)
                {
                    event.preventDefault();
                    
                    //this return sur les a
                    const url=this.href;
                    const spanCount = this.parentNode.parentNode.querySelectorAll('h5.js-quantite');
                    const spanCount2 = this.parentNode.parentNode.querySelectorAll('h5.js-totalProduit');
                     const spanCount3 = document.querySelector('p.js-totalP');
                    const spanCount4 = document.querySelector('span.js-totalC');
                    //console.log(spanCount);
                    axios.get(url).then(function(response){
                  
                  spanCount[0].textContent=response.data.nbr;
                  spanCount2[0].textContent=response.data.total +" DT";
                  spanCount3.textContent=response.data.totalP +" DT";
                  spanCount4.textContent=response.data.totalC +" DT";
                 
                    })

                }
                function onClickBtnDelete(event)
                { aziz=0;
                    event.preventDefault();
                    
                    //this return sur les a
                    const url=this.href;
                    const spanCount = document.querySelectorAll('div.js-vide');
                    console.log(spanCount[0])  ;
                     console.log(spanCount[1]);
                    const spanCount3 = document.querySelector('p.js-totalP');
                    const spanCount4 = document.querySelector('span.js-totalC');
                    //console.log(spanCount);
                    axios.get(url).then(function(response){
                 
                                    
                     
                        
                                          spanCount[0].textContent="";
spanCount[1].textContent="";

                      
                             

                  spanCount3.textContent=response.data.totalP +" DT";
                  spanCount4.textContent=response.data.totalC +" DT";
                 
                    })
                    aziz++;

                }
           
             {% for element in LignePaniers %}
              document.querySelectorAll('a.js-add[data-id="{{ element.id }}"]').forEach(function(link) {
              link.addEventListener('click', onClickBtnAdd);
               });
              {% endfor %}

                document.querySelectorAll('a.js-remove').forEach(function(link)
                {
                    link.addEventListener('click',onClickBtnRemove);
                })
               
            {% for element in LignePaniers %}
                document.querySelectorAll('a.js-delete[data-id="{{ element.id }}"]').forEach(function(link)
               {
                    link.addEventListener('click',onClickBtnDelete);
                }
                   )
                     {% endfor %}
              
        </script>
     {% endblock %}