{% extends 'base.html.twig' %}

{% block title %}Pass index{% endblock %}

{% block body %}
    <h1>Pass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pass in passes %}
            <tr>
                <td>{{ pass.id }}</td>
                <td>{{ pass.createdAt ? pass.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_pass_show', {'id': pass.id}) }}">show</a>
                    <a href="{{ path('app_pass_edit', {'id': pass.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pass_new') }}">Create new</a>
{% endblock %}
