 {% block CatActive %}active{% endblock %}
{% extends 'back/base.html.twig' %}
            {% block body %}
                       <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Ajout Categorie</h6>
                           {{ form_start(form, { attr: {novalidate :'novalidate'}}) }}
                                
                                
                                
                                
                                
                                <div class="mb-3">
                                    <label  class="form-label">  
                                     {{ form_label(form.Type,'Type du Produit') }}
                                     </label><br>
                                     {{ form_widget(form.Type) }}
                                   
                                 </div>
                                
                                
                                
                               
                               <div class="mb-3">
                                {{ form_widget(form.save, { 'label': 'Ajouter','attr': {'class': 'btn btn-warning'} }) }} 
                                
                            {{ form_end(form) }}
                        
                                 </div>
                        </div>
                    </div>
                 
                </div>
            </div>
            <!-- Form End -->
            </div>
            <!-- Blank End -->


       
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
        {% endblock %}
    