{% extends 'front/baseF.html.twig' %}
{% block body %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

	<style>
		#calendrier {
			margin: auto;

			width: 90%;
			height: 90%;
		}
	</style>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			background-color: white;
		}

		th,
		td {
			padding: 10px;
			text-align: left;
			border: 1px solid #white;
		}

		tr:hover {
			background-color: #000;
			color: #fff;
		}
	</style>
	<style>
		/* style pour la pop-up */

		.popup {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;


		}

		{
			# position: absolute; /* positionnement absolu */
			top: 50%; /* positionné à 50% de la hauteur de la fenêtre */
			left: 50%; /* positionné à 50% de la largeur de la fenêtre */
			transform: translate(-50%, -50%); /* centrer horizontalement et verticalement */
			width: 300px; /* largeur de la pop-up */
			padding: 20px; /* marge intérieure */
			background-color: #fff; /* couleur de fond */
			** border-radius: 5px; /* arrondi des coins */
			** box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* ombre portée */
			text-align: center; /* alignement centré */ #
		}
		.popup-content {
			background-color: white;
			width: 70%;


			height: 80%;
			transform: translate(-50%, -50%); /* centrer horizontalement et verticalement */
			padding: 20px;
			position: absolute;
			top: 50%; /* positionné à 50% de la hauteur de la fenêtre */
			left: 50%; /* positionné à 50% de la largeur de la fenêtre */
			text-align: center;

		}

		.popup-content h2 {
			font-size: 24px;
			margin-top: 0;
		}

		.popup-content #calendrier {
			margin-top: 10px;


		}

		.popup-close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			font-size: 28px;
			color: #aaa;
		}

		.popup-close:hover {
			color: #666;
		}

	</style>


	<section class="class-details-section spad">
		<div class="container">
			<div class="cd-text">
				<div class="cd-single-item">
					<h3 style="color:red;">{{salle.nom}}</h3>
					<p style="color:smoke-white;">{{salle.description}}</p>
				</div>
				<div class="cd-single-item">
					<h3>{{salle.lieu}}</h3>

				</div>
			</div>
			<div class="row">


				<div class="col-lg-8">
					<div class="class-details-text">
						<div
							class="cd-pic">{# <img src="{{ asset('uploads/'~ salle.image)}}" alt=""> #}
						</div>


						<div class="cd-trainer" style="background-color: white-smoke">
							<div class="row">
								<div class="col-md-6">

									<div class="cd-trainer-pic">
										<img src="{{ asset('uploads/'~ salle.image)}}" alt="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="cd-trainer-text">
										<div class="trainer-title">
											<h4>Notre salle</h4>

											<h4 style="color:red;">{{salle.nom | upper }}</h4>
										</div>
										<div class="trainer-social">
											<a href="#">
												<i class="fa fa-facebook"></i>
											</a>
											<a href="#">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#">
												<i class="fa fa-youtube-play"></i>
											</a>
											<a href="#">
												<i class="fa fa-instagram"></i>
											</a>
											<a href="#">
												<i class="fa  fa-envelope-o"></i>
											</a>
										</div>
										<p>{{salle.description | upper}}</p>
										<ul class="trainer-info">
											<li>
												<span style="color:red;">Superficie</span>
												{{salle.superficie | upper}}</li>
											<li>
												<span style="color:red;">Lieu</span>
												{{salle.lieu}}</li>
											<li>
												<span style="color:red;">Telephone</span>
												{{salle.telephone}}</li>
											<li>
												<span style="color:red;">Email</span>
												{{salle.email}}</li>
										</ul>


										{# {% for c in salle.cours %}
																																									<ul>
																																										<li style="color:white;">
																																											<td>{{c.nom}}</td>
																																										</li>
																																									</ul>
																																								{% endfor %} #}


									{# ____________________________ #}


										{# <div class="col-lg-4 col-md-8">
																																			<div class="sidebar-option">
														 																					</ul>
																																				</div> #}
										{# <div class="so-latest">
																																										                                                    <h5 class="title">Latest posts</h5>
												 						</div>
										
																			{# {% endfor %} #}
<button style="background-color:red;color:white;" onclick="openPopuppass()">
	Planning</button>

									</div>

									{# <table  > #}
									{# <thead  >
																												<tr>
																													<th>Activite</th>
																													<th>Categorie</th>
																													<th> Materiel</th>
																													<th> Tenu</th>
																									
																												</tr>
																											</thead>
																									                		{% for p in salle.cours %}
																									
																											<tbody>
																												<tr>
																													<td>{{p.nom}} </td>
																													<td>{{p.categorie}} </td>
																													<td>{{p.materiel}} </td>
																												</tr>
																											 
																											</tbody>
																									        						  {% endfor %} 
																									
																										</table>
																									</div> #}
								</section>

								<!-- bouton pour ouvrir la pop-up -->




								<!-- pop-up -->
								<div id="popup_passe" class="popup">
									<div
										style="position: center;background-color:white;color:red;background-repeat:no-repeat;background-size:cover;background-image: url('https://st4.depositphotos.com/4259987/21763/i/450/depositphotos_217633412-stock-photo-picture-of-strong-sporty-bodybuilder.jpg');" class="popup-content">


										{# <div id="calendrier"></div> #}
										<div style="position: center;background-color:white;color:red;background-repeat:no-repeat;background-size:cover;
												 ;
												  " id="calendrier"></div>
										<span class="popup-close" onclick="closePopuppass()">&times;</span>
									</div>
								</div>

								{# <button style="background-color:red;color:white;" onclick="openPopup()">Chek orders</button>
															<div id="popup" class="popup">
															
																<div class="popup-content">
															
																   <section style="background-color:black;" class="hero-section">
																		<div id="calendrier"></div>
																  </section>
															</div>
															<span id="popup"  class="popup-close" onclick="closePopup()">&times;</span>
															
															</div> #}

								{# ________________________________________________________Debut__Partie JS___________________________________________________________________ #}

								<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js" integrity="sha256-aZcQFPL6+lsgcL5uMWS2B/cf6WplQQOEhLKi88tYh6A=" crossorigin="anonymous"></script>
								<script>
									window.onload = () => {
let calendarElt = document.querySelector("#calendrier")
let calendar = new FullCalendar.Calendar(calendarElt, {

initialView: 'timeGridWeek',
locale: 'fr',
timeZone: 'Afrique/Tunisie',
weekends: true,

defaultView: 'dayGridWeek',
// businessHours: {
// start: '08:00',
// end: '18:00',
// dow: [1, 2, 3, 4, 5]
// },
headerToolbar: {
start: 'today',
center: 'title',
end: 'timeGridWeek,listWeek'
},

events: {{ data|raw }},
editable: false,
eventResizableFromStart: false,
// datesSet: function (info) {
// Récupérer la date de début de la plage d'affichage
// let start = info.start;
// Récupérer la date de fin de la plage d'affichage
// let end = info.end;
// Calculer la différence en jours entre les deux dates
// let diff = end.diff(start, 'days');
// Si la plage d'affichage est supérieure à 7 jours
// if (diff > 7) {
// Ajuster la date de fin pour n'afficher qu'une semaine
// end = start.clone().add(7, 'days');
// Définir la plage d'affichage pour n'afficher qu'une semaine
// calendar.gotoDate(start);
//       //calendar.gotoDate(end);
// }
// }
/*		eventDrop :function(event){
				console.log(event)
			}*/


})

calendar.on('eventChange', (e) => {
// afficher
// console.log(e)
// pour assurer l'injection des données =>
// Créer une variable URL qui contient la route de l'injection des données

let url = `/api/${
e.event.id
}/edit`
// Créer un tableau JSon pour stocker nos données de la table plannig
let donnees = {
"title": e.event.title,
"description": e.event.description,
"start": e.event.start,
"end": e.event.end,
"backgroundColor": e.event.background_color,
"borderColor": e.event.border_color,
"textColor": e.event.text_color,
"activite": e.event.activite


}

})

calendar.render()
}
								</script>
								<script>

									function openPopuppass() {

document.getElementById("popup_passe").style.display = "block";

}

// fonction pour fermer la pop-up
function closePopuppass() {

document.getElementById("popup_passe").style.display = "none";

}
								</script>


							{% endblock %}
