{% extends 'front/baseF.html.twig' %}
{% block body %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

     <style>
        #calendrier{
            margin: auto;
          /*  width: auto !important;
			height: auto !important;*/
			 width: 80%;
			height:auto;
        }
    </style>
   <style>
		table {
			border-collapse: collapse;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			background-color: white;
		}
		
		th, td {
			padding: 10px;
			text-align: left;
			border: 1px solid #white;
		}
		
		tr:hover {
			background-color: #000;
			color: #fff;
		}
	</style>  

	<section class="class-details-section spad">
		<div class="container">
			<div class="cd-text">
				<div class="cd-single-item">
					<h3 style="color:red;">{{salle.nom}}</h3>
					<p style="color:smoke-white;">{{salle.description}}</p>
				</div>
				<div class="cd-single-item">
					<h3>{{salle.lieu}}</h3>

				</div>
			</div>
			<div class="row">


				<div class="col-lg-8">
					<div class="class-details-text">
						<div
							class="cd-pic">{# <img src="{{ asset('uploads/'~ salle.image)}}" alt=""> #}
						</div>


						<div class="cd-trainer" style="background-color: white-smoke">
							<div class="row">
								<div class="col-md-6">
                                
									<div class="cd-trainer-pic">
										<img  src="{{ asset('uploads/'~ salle.image)}}" alt="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="cd-trainer-text">
										<div class="trainer-title">
											<h4>Notre salle</h4>

											<h4 style="color:red;">{{salle.nom | upper }}</h4>
										</div>
										<div class="trainer-social">
											<a href="#">
												<i class="fa fa-facebook"></i>
											</a>
											<a href="#">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#">
												<i class="fa fa-youtube-play"></i>
											</a>
											<a href="#">
												<i class="fa fa-instagram"></i>
											</a>
											<a href="#">
												<i class="fa  fa-envelope-o"></i>
											</a>
										</div>
										<p>{{salle.description | upper}}</p>
										<ul class="trainer-info">
											<li>
												<span style="color:red;">Superficie</span>
												{{salle.superficie | upper}}</li>
											<li>
												<span style="color:red;">Lieu</span>
												{{salle.lieu}}</li>
											<li>
												<span style="color:red;">Telephone</span>
												{{salle.telephone}}</li>
											<li>
												<span style="color:red;">Email</span>
												{{salle.email}}</li>
										</ul>


 
                                        
										{# {% for c in salle.cours %}
											<ul>
												<li style="color:white;">
													<td>{{c.nom}}</td>
												</li>
											</ul>
										{% endfor %} #}
                                                
            

                                                    {# ____________________________ #}
                                                 
                                    	 
                                      
				{# <div class="col-lg-4 col-md-8">
					<div class="sidebar-option">
						<div class="so-categories">
							<h5 class="title">Categories</h5>
							<ul>
								<li><a href="#">Yoga<span>12</span></a></li>
								<li><a href="#">Runing<span>32</span></a></li>
								<li><a href="#">Weightloss<span>86</span></a></li>
								<li><a href="#">Cario<span>25</span></a></li>
								<li><a href="#">Body buiding<span>36</span></a></li>
								<li><a href="#">Nutrition<span>15</span></a></li>
							</ul>
						</div> #}
						{# <div class="so-latest">
												                                                    <h5 class="title">Latest posts</h5>
												                                                    <div class="latest-large set-bg" data-setbg="img/letest-blog/latest-1.jpg">
												                                                        <div class="ll-text">
												                                                            <h5><a href="#">This Japanese Way of Making Iced Coffee Is a Game...</a></h5>
												                                                            <ul>
												                                                                <li>Aug 20, 2019</li>
												                                                                <li>20 Comment</li>
												                                                            </ul>
												                                                        </div>
												                                                    </div>
												                                                    <div class="latest-item">
												                                                        <div class="li-pic">
												                                                            <img src="img/letest-blog/latest-2.jpg" alt="">
												                                                        </div>
												                                                        <div class="li-text">
												                                                            <h6><a href="#">Grilled Potato and Green Bean Salad</a></h6>
												                                                            <span class="li-time">Aug 15, 2019</span>
												                                                        </div>
												                                                    </div>
												                                                    <div class="latest-item">
												                                                        <div class="li-pic">
												                                                            <img src="img/letest-blog/latest-3.jpg" alt="">
												                                                        </div>
												                                                        <div class="li-text">
												                                                            <h6><a href="#">The $8 French Rosé I Buy in Bulk Every Summer</a></h6>
												                                                            <span class="li-time">Aug 15, 2019</span>
												                                                        </div>
												                                                    </div>
												                                                    <div class="latest-item">
												                                                        <div class="li-pic">
												                                                            <img src="img/letest-blog/latest-4.jpg" alt="">
												                                                        </div>
												                                                        <div class="li-text">
												                                                            <h6><a href="#">Ina Garten's Skillet-Roasted Lemon Chicken</a></h6>
												                                                            <span class="li-time">Aug 15, 2019</span>
												                                                        </div>
												                                                    </div>
												                                                    <div class="latest-item">
												                                                        <div class="li-pic">
												                                                            <img src="img/letest-blog/latest-5.jpg" alt="">
												                                                        </div>
												                                                        <div class="li-text">
												                                                            <h6><a href="#">The Best Weeknight Baked Potatoes, 3 Creative Ways</a></h6>
												                                                            <span class="li-time">Aug 15, 2019</span>
												                                                        </div>
												                                                    </div>
												                                                </div>
												                                                <div class="so-banner set-bg" data-setbg="img/sidebar-banner.jpg">
												                                                    <h5>Banner 300x300</h5>
												                                                </div>
												                                            </div>
												                                        </div> #}
					</div>

					{# {% endfor %} #}

				</div>

{# <table  > #}
  {# <thead  >
			<tr>
				<th>Activite</th>
				<th>Categorie</th>
				<th> Materiel</th>
				<th> Tenu</th>

			</tr>
		</thead>
                		{% for p in salle.cours %}

		<tbody>
			<tr>
				<td>{{p.nom}} </td>
				<td>{{p.categorie}} </td>
				<td>{{p.materiel}} </td>
			</tr>
		 
		</tbody>
        						  {% endfor %} 

	</table>
</div> #}

			</section>


 <section style="background-color:black;" class="hero-section">
	 <div style="position: center;background-color:white;color:red;background-repeat:no-repeat;background-size:cover;
	 background-image: url('https://st4.depositphotos.com/4259987/21763/i/450/depositphotos_217633412-stock-photo-picture-of-strong-sporty-bodybuilder.jpg');
	  "id="calendrier"></div>     
	 </section>

{# ________________________________________________________Debut__Partie JS___________________________________________________________________ #}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js" 
       
	    integrity="sha256-aZcQFPL6+lsgcL5uMWS2B/cf6WplQQOEhLKi88tYh6A=" crossorigin="anonymous"></script>
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
 
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Afrique/Tunisie',
		    weekends: true,

  defaultView: 'dayGridWeek',
 			    //businessHours: {
				//start: '08:00',
				//end: '18:00',
				//dow: [1, 2, 3, 4, 5]
				//},
            headerToolbar: {
                start: 'today',
                center: 'title',
                end: 'timeGridWeek,listWeek'
            },
			
            events:{{data|raw}},
			editable:false,
		    eventResizableFromStart:false,
			      // datesSet: function (info) {
      // Récupérer la date de début de la plage d'affichage
           //let start = info.start;
      // Récupérer la date de fin de la plage d'affichage
            //let end = info.end;
      // Calculer la différence en jours entre les deux dates
           //let diff = end.diff(start, 'days');
      // Si la plage d'affichage est supérieure à 7 jours
           //if (diff > 7) {
        // Ajuster la date de fin pour n'afficher qu'une semaine
             // end = start.clone().add(7, 'days');
        // Définir la plage d'affichage pour n'afficher qu'une semaine
             //calendar.gotoDate(start);
            //       //calendar.gotoDate(end);
           // }
         // }
		/*		eventDrop :function(event){
				console.log(event)
			}*/
			

    })

			calendar.on('eventChange',(e) => {
			//afficher 
				//console.log(e) 
				// pour assurer l'injection des données => 
				//Créer une variable URL qui contient la route de l'injection des données
				 
				 let url = `/api/${e.event.id}/edit`
           //Créer un tableau JSon pour stocker nos données de la table plannig 
		    let donnees = {
                "title": e.event.title,
                "description": e.event.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.background_color,
                "borderColor": e.event.border_color,
                "textColor": e.event.text_color,
				"activite": e.event.activite,

 
             }          
			           
			})		

                calendar.render()
    }
</script>
          
          
		{% endblock %}
	 
