{% extends 'front/baseF.html.twig' %}


{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>
  /* ...existing styles... */

  body.dark {
    background-color: #333;
    color: #fff;
  }

  body.dark a {
    color: #fff;
  }*
  #dark-mode-toggle {
  /* ...existing styles... */
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
}

#dark-mode-toggle i {
  font-size: 24px;
  
}

#dark-mode-toggle.dark i {
  transform: rotate(180deg);
  
}
</style>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Contact Us</h2>
                        <button id="dark-mode-toggle" type="button"><i class="fas fa-sun"></i></button>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <a href="#">Pages</a>
                            <span>Contact us</span>
                             
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                
                    <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                    

                    <div class="ss-pic">
                    {# {{asset('uploads/'~ service.image)}} #}
                    
                       {# <img src="{{asset('uploads/'~ service.image)}}" alt="" style="width: 360px; height: 293px;" > #}
                    </div>
                </div>
                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                    <div class="ss-text">
                        <h4>{{service.nom}}</h4>
                        <p>{{service.description}}</p>
                        <h3>{{service.tarif}}</h3>

                        <a href="#">RENDEZ-VOUS</a>
         
                    </div>
                
                </div>
                <div class="col-lg-6">
                    <div class="leave-comment">
                     
                           {{ form_start(form, {attr: {'novalidate': 'novalidate', 'id': 'my-form'}}) }}
{{ form_start(form, {attr: {'novalidate': 'novalidate', 'id': 'my-form', 'action': path('app_rendezvous_new', {'id': service.id}) }}) }}

                               <div class="form-floating mb-3">
    {{form_label(form.discription,"description")}}
    {{form_widget(form.discription)}}
    {{form_errors(form.discription)}}
    <div class="invalid-feedback">You must fill description</div>
</div>

<div class="form-floating mb-3">
    {{form_label(form.dateAt,"date ")}}
    {{form_widget(form.dateAt)}}
    {{form_errors(form.dateAt)}}
    <div class="invalid-feedback">You must fill Date</div>
</div>

                                      
                                  <button class="btn" id="save-btn" disabled>{{ button_label|default('Save') }}</button>
                           {{ form_end(form) }}
                      
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12087.069761554938!2d-74.2175599360452!3d40.767139456514954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c254b5958982c3%3A0xb6ab3931055a2612!2sEast%20Orange%2C%20NJ%2C%20USA!5e0!3m2!1sen!2sbd!4v1581710470843!5m2!1sen!2sbd"
                    height="550" style="border:0;" allowfullscreen=""></iframe>
                    

            </div>
        </div>
    </section>
    /*darkmode*/
     <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">

<div id="calendrier">

</div>

<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Afrique/Tunisie',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true
        })
         
        calendar.render()
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js" integrity="sha256-aZcQFPL6+lsgcL5uMWS2B/cf6WplQQOEhLKi88tYh6A=" crossorigin="anonymous"></script>
 <script>
const darkModeToggle = document.querySelector('#dark-mode-toggle');
const body = document.body;

darkModeToggle.addEventListener('click', () => {
  body.classList.toggle('dark');
  darkModeToggle.querySelector('i').classList.toggle('fa-sun');
  darkModeToggle.querySelector('i').classList.toggle('fa-moon');
});
</script>

/*darkmode*/
/*validation*/
   <script type="text/javascript">
   $(document).ready(function() {
  var form = $('#my-form');
  var saveBtn = form.find('.btn');

  saveBtn.prop('disabled', true);

  form.on('change keyup', 'input[required]', function() {
    var invalid = false;

    form.find('input[required]').each(function() {
      if (this.value === '') {
        invalid = true;
      }
    });

    if (invalid) {
      saveBtn.prop('disabled', true);
    } else {
      saveBtn.prop('disabled', false);
    }
  });

  $('#my-form').submit(function() {
    var empty = $(this).parent().find("input").filter(function() {
      return this.value === "";
    });

    if (empty.length) {
      empty.css('border', '1px solid red');
      empty.parent().find("span").text("This field is required");

      empty.each(function() {
        var fieldName = $(this).attr('name');
        $(this).after('<div class="invalid-feedback">You must fill ' + fieldName + ' for ' + fieldName + '</div>');
      });

      return false;
    }
  });
});


</script>
/*validation*/
/*checkdate*/
<script>
 $(document).ready(function() {
    var form = $('#my-form');
    var saveBtn = form.find('.btn');
    var dateInput = form.find('#{{ form.dateAt.vars.id }}');
    var message = $('<div>').addClass('invalid-feedback').text('This time is not available. Please choose a different time.');

    saveBtn.prop('disabled', true);

    dateInput.on('change', function() {
        $.ajax({
            type: 'POST',
            url: '{{ path('check_time_availability', {'id': service.id }) }}',
            data: { 'date': dateInput.val(), 'service_id': {{ service.id }}, 'duration': '01:00:00' },
            success: function(response) {
                if (response.available) {
                    saveBtn.prop('disabled', false);
                    message.remove();
                    dateInput.css('background-color', 'green');
                } else {
                    saveBtn.prop('disabled', true);
                    dateInput.after(message);
                    dateInput.css('background-color', 'red');
                }
            },
            error: function() {
                console.log('An error occurred while checking time availability.');
            }
        });
    });
});

</script>




/*checkdate*/

    <!-- Contact Section End -->
    {% endblock %}
    