{% extends 'back/base.html.twig' %}


{% block body %}
            <!-- Form Start -->
          
             <h1>Create new Offer</h1>
             
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                  
                        <div class="bg-secondary rounded h-100 p-4">
                          <div class="text-center">
                            <h6 class="mb-4">Offer Form</h6>
                          
                               <div class="text-center">
                                <div class="mx-auto" style="max-width: 400px;">
                                  {{ form_start(form ,{'attr': {'novalidate': 'novalidate'}} ) }}
                                   
                      
                      
                                 
                                     
                                          
                      
                           <table class="center-table">
                             
                           <tr>
                                <div class="text-center">
                              
                                   <div class="row justify-content-center">
                                       <td> {{ form_label(form.type) }}</td>
                                <td> {{ form_widget(form.type) }} <br> </td>
                                </tr>

                                <tr>
                                
                                   <div class="row justify-content-center">
                                <td> {{ form_label(form.prix )  }}</td>
                                <td> {{ form_widget(form.prix) }} <br></td>
                              
                                   <td>   <br>   {{ form_errors(form.prix) }}</td>
                                </tr>
                                
                                 <tr>
                                   <div class="row justify-content-center">
                                       <td> {{ form_label(form.duree) }}</td>
                                <td> {{ form_widget(form.duree) }} <br></td>
                                  <td> {{ form_errors(form.duree) }}</td>
                                </tr>
                                
                                 <tr>
                                   <div class="row justify-content-center">
                              
                                       <td> {{ form_label(form.description) }}</td>
                                <td> {{ form_widget(form.description) }} <br></td>
                                     <td> {{  form_errors(form.description) }}</td>
                                </tr>
                                
                              
                        </div>
                    
</table>
  {{ form_label(form.promo) }}
                                {{ form_widget(form.promo) }}
       <button class="btn">{{ button_label|default('Save') }}</button>
<br>
    <a href="{{ path('app_offres_index') }}">back to list</a>


{{ form_end(form) }}
 

                        </div>
                    </div>
                    </div>
                     </div>
                    </div>
                  
            <!-- Form End -->
{% endblock %}