{% extends 'back/base.html.twig' %}


{% block body %}
            <!-- Form Start -->
             <div class="container-fluid" >
            <div >
                <div >
                <center>
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3" style="width:500px;">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="index.html" class="">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Coach</h3>
                            </a>
                        </div>
                       {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                        <div class="form-floating mb-3">
                            {{form_errors(form.nom)}}
                            {{form_label(form.nom,"Name")}}
                            {{form_widget(form.nom)}}

                        </div>
                        <div class="form-floating mb-3">
                            {{form_errors(form.prenom)}}
                            {{form_label(form.prenom,"lastname")}}
                            {{form_widget(form.prenom)}}

                        </div>
                        <div class="form-floating mb-3">
                            {{form_errors(form.userName)}}
                            {{form_label(form.userName,"userName")}}
                            {{form_widget(form.userName)}}

                        </div>
                        <div class="form-floating mb-3">
                            {{form_errors(form.email)}}
                            {{form_label(form.email,"email")}}
                            {{form_widget(form.email)}}

                        </div>
                        <div class="form-floating mb-3">
                            {{form_errors(form.numTel)}}
                            {{form_label(form.numTel,"Tel")}}
                            {{form_widget(form.numTel)}}

                        </div>
                        <div class="form-floating mb-3">
                            {{form_errors(form.plainPassword)}}
                            {{form_label(form.plainPassword,"password")}}
                            {{form_widget(form.plainPassword)}}

                        </div>
                        <div class="form-floating mb-3">
                            {{form_errors(form.image)}}
                            {{form_label(form.image,"image")}}
                            {{form_widget(form.image)}}

                        </div>
                        {# <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div> #}
                        
                        
                     <button type="submit" class="btn btn-primary py-3 w-100 mb-4">{{ button_label|default('Save') }}</button>
                        <a href="{{ path('app_user_coach') }}">back to list</a> 
                        {{form_end(form)}}

                </div>
                </center>
            </div>
        </div>
            <!-- Form End -->
{% endblock %}