{% extends 'back/base.html.twig' %}


{% block body %}
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                <center>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">NEW SERVICE</h6>
                            {# <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </form> #}
                            {{ form_start(form) }}
                             {{ form_label(form.image,'Image:') }}
                                       </label><br>
                                     {{ form_widget(form.image) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
                            {{ form_end(form) }}
                                <a href="{{ path('app_service_index') }}">back to list</a>

                        </div>
                    </div>
                </center>
                    
                </div>
            </div>
            <!-- Form End -->
{% endblock %}