


{% block body %}
            <!-- Table Start -->
            <center>
            <h1>Liste des coach</h1>
            </center>
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
            <div class="container-fluid pt-4 px-4" style="bottom:0;">
                {# <div class="card-body"> #}
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                             <th>#</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>UserName</th>
                                                <th>Email</th>
                                                <th>NumTel</th>
                                                
                                                <th>Etat</th>
                                                
                                                
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                             <td>{{ user.id }}</td>
                                            <td>{{ user.nom }}</td>
                                            <td>{{ user.prenom }}</td>
                                            <td>{{ user.userName }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.numTel }}</td>
                                            
                                            <td>{{ user.etat }}</td>

                                            
                                        </tr>
                                         {% endfor %} 

                                    </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
            <!-- Table End -->
            {% endblock %}

            