{% extends 'back/base.html.twig' %}


{% block body %}
<style>
th{
   color: red;
}
</style>
	<!-- Table Start -->
	
	{# <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
		<form class="d-flex" action="chercher_salle" method="GET">
			<input class="form-control me-2" name="dhia" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
	    </form>

		<div class="container-fluid pt-4 px-4" style="bottom:0;">
  #}

    {#_________________________________ Partie pop-up ____________________________________________________#}
{# <button type="button"   class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter une salle
</button> #}

    {#_________________________________ Partie pop-up ____________________________________________________#}


    {#_________________________________ Partie pop-up ____________________________________________________#}

<!-- Modal -->
{# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un une nouvelle activité</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 
    				
					{# <div class="form-group" style="position: center;">
															
																					{{ form_start(form) }}
																					{{ form_widget(form) }}
																					<button type="submit">Save</button>
																					{{ form_end(form) }}
															                </div> #}

      {# </div>
    </div>
  </div>
</div> #} 
 

    {#_________________________________ Partie pop-up ____________________________________________________#}






 
							{# __________________________________________ #}
{# 
							<form action="find_Salle" method="GET">
								<input type="text"  name="find" placeholder="Entrez un lieu...">
								<button class="btn btn-light m-2" type="submit">Rechercher</button>
							</form>
						</div> #}

{# 
		<form  class="d-flex" action="find_Salle" method="GET">
				<input class="form-control me-2" name="findbyname" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form> #}

 		 
		
			 
 
			<div class="table-responsive"> 
			 
          <div class="bg-secondary text-center rounded p-4">
					<a href={{path('app_activite_new')}} <button style="width:25%;height:35%"
			 type="button"   class="btn btn-light m-2"> Ajouter une nouvelle activité
			  </button> </a>  

			  {# <button type="button"   class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> Ajouter une salle</button> #}

  {# <!-- Modal-----------------------------------DEBUT  POP UP--------- ---------- #}
<button id="openBtn"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter une nouvelle activité</button>
<!-- La pop-up -->
<div  
  class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div   class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header" style="background-color:red;border: 2px solid black;">
        <h5 class="modal-title" id="exampleModalLabel" >________________Ajouter une Activité____________</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color:white;" >
 
    				
					<div  class="form-group"   position: center;">
   {# --------------------------------------FORM START-------------------------------------- #}
      {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
					) }}

 					<div  >

						{{form_label(form.nom)}}
						{{form_widget(form.nom, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{form_errors(form.nom)}}

					</div>

					<div  >
						{{form_label(form.categorie)}}
						{{form_widget(form.categorie, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{form_errors(form.categorie)}}

					</div>


					<div >

						{{form_label(form.materiel)}}
						{{form_widget(form.materiel, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{ form_errors(form.materiel) }}

					</div>


					<div>

						{{form_label(form.intensite)}}
						{{form_widget(form.intensite, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{ form_errors(form.intensite) }}

					</div>

					<div  >
 
						{{form_label(form.GRPmusculaire)}}
						{{form_widget(form.GRPmusculaire, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{ form_errors(form.GRPmusculaire) }}

					</div>

					<div  >
						{{form_label(form.tenue)}}
						{{form_widget(form.tenue, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{ form_errors(form.tenue) }}

					</div>

					<div  >
						{{form_label(form.recomendation)}}
						{{form_widget(form.recomendation, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{form_errors(form.recomendation)}}

					</div>
					<div  >
						{{form_label(form.image)}}
						{{form_widget(form.image, {'attr': {'class': 'form-control', 'style': 'width: 450px; padding: 5px;'}})}}
						{{form_errors(form.image)}}

					</div>
		 <button   class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

		    </div>
			


						{{ form_end(form) }}
               {# --------------------------------------FORM END-------------------------------------- #}

      </div>
    </div>
  </div>
</div>
  {# <!-- Modal-----------------------------------FIN DU POP UP--------- ---------- #}

                    <div class="d-flex align-items-center justify-content-between mb-4">
                        {# <h6 class="mb-0">Salles</h6> #}
                        <a href={{path('app_activite_index')}}>Show All</a>
                    </div>
                    {# <div class="table-responsive">
								        <div class="btn-toggle">Go Nuit</div> #}

                       	<div id="pagination">
							<a href="#" class="previous">&laquo; Previous</a>
							<a href="#" class="next">Next &raquo;</a>
							</div>
					    {# <table id="myTable" class="table text-start align-middle table-bordered table-hover mb-0"> #}
                   <div class="table-responsive"> 
      
      {# <div id="pagination">
					<a href="#" class="previous">&laquo; Previous</a>
					<a href="#" class="next">Next &raquo;</a>
			</div> #}
			<table class="table table-bordered" id="myTable" width="100%" cellspacing="0"> 
			<thead>
			  <tr>
			  		<th style ="color:#FF0000">#</th>
					<th style ="color:#FF0000">Nom</th>
					<th style ="color:#FF0000">Lieu</th>
					<th style ="color:#FF0000">Telephone</th>
				    <th style ="color:#FF0000">Email</th>
			  		<th style ="color:#FF0000">Superficie</th>
			  		<th style ="color:#FF0000">recomendation</th>
 			  		<th style ="color:#FF0000">Activité</th>

					{# <th style ="color:#FF0000">Image</th> #}

					<th style ="color:#FF0000">action</th>


			  </tr>
			</thead>
							 			{% for p in activite %}

                            <tbody>
                                <tr>
					
									<td >{{p.id}}</td>
									<td>{{p.nom}}</td>
									<td>{{p.categorie}}</td>
									<td>{{p.materiel}}</td>
									<td>{{p.intensite}}</td>
									<td>{{p.GRPmusculaire}}</td>
									<td>{{p.tenue}}</td>
									<td>{{p.recomendation}}</td>
									{# <td></ul>{% for c in p.salles %} <li>{{c.nom}}</li>{% endfor %} <ul></td> #}
									<td>
									<td><a href="{{path('app_activite_delete',{'id':p.id})}}"><i class="bi bi-trash"></i></a></td>

									<td><a href="{{path('app_activite_edit',{'id':p.id})}}"><span class="bi bi-cart-fill"></span></a></td>
									<td><a href="{{path('app_activite_show',{'id':p.id})}}"><i class="bi bi-book"></i></a></td>
									</td>
								
								</tr>
                             
                            </tbody>
						  {% endfor %} 

                        </table>
								{# Pagination code  #}
					
                    </div>
                </div>
            </div>
									 
            <!-- Recent Sales End -->
		{# _________________________________________________________________________________________________________ #}
			{# <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> 
			<thead>
			  <tr> 
			  		<th style ="color:#FF0000">#id</th>
					<th style ="color:#FF0000">Nom</th>
					<th style ="color:#FF0000">categorie</th>
 			    	<th style ="color:#FF0000">materiel_utilise</th>
			  		<th style ="color:#FF0000">instensite</th>

 			  		<th style ="color:#FF0000">Group musculaire sollicité</th>

 			  		<th style ="color:#FF0000">tenu</th>
					<th style ="color:#FF0000">Recomendation</th>
 					<th style ="color:#FF0000">Salle</th>

 				 
					<th style ="color:#FF0000">action</th>

			 </tr>
			</thead>
 			{% for p in activite %}
			<tbody>
		 				
			<tr>
 				<td >{{p.id}}</td>
				<td>{{p.nom}}</td>
				<td>{{p.categorie}}</td>
			    <td>{{p.materiel}}</td>
 				<td>{{p.intensite}}</td>
				<td>{{p.GRPmusculaire}}</td>
				<td>{{p.tenue}}</td>
				<td>{{p.recomendation}}</td>
				<td></ul>{% for c in p.salles %} <li>{{c.nom}}</li>{% endfor %} <ul></td> #}
				{# <td> <img class="img-thumbnail" src="{{asset('uploads/'~ p.image)}}" alt="" ></td> #}
				{# <td>{{p.image}}</td> #}

     
 				{# <td><a href="{{path('app_activite_delete',{'id':p.id})}}"><img style="width:20%;height:10%;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPiVlUmob19QYwhukJjI15xf3TGNxw8x9wOSssILAixg&s"></a></td> #}
			{# <td>
				<td><a href="{{path('app_activite_delete',{'id':p.id})}}"><i class="bi bi-trash"></i></a></td>

				<td><a href="{{path('app_activite_edit',{'id':p.id})}}"><span class="bi bi-cart-fill"></span></a></td>
				<td><a href="{{path('app_activite_show',{'id':p.id})}}"><i class="bi bi-book"></i></a></td>
				</td>
 			</tr>
										
		</tbody> 
			 {% endfor %} 
			 

 
				</table>
				</div>
		</div>
</div> #}
<!-- Table End -->

			<script>
			{# script pagination #}
let table = document.getElementById('myTable');
let rowsPerPage = 5;
let currentPage = 1;

function showPage(page) {
  let startIndex = (page - 1) * rowsPerPage;
  let endIndex = startIndex + rowsPerPage;

  let rows = table.rows;
  for (let i = 1; i < rows.length; i++) {
    let row = rows[i];
    if (i < startIndex || i >= endIndex) {
      row.style.display = 'none';
    } else {
      row.style.display = '';
    }
  }
}

function nextPage() {
  if (currentPage < numPages()) {
    currentPage++;
    showPage(currentPage);
  }
}

function previousPage() {
  if (currentPage > 1) {
    currentPage--;
    showPage(currentPage);
  }
}

function numPages() {
  return Math.ceil((table.rows.length - 1) / rowsPerPage);
}

document.querySelector('.previous').addEventListener('click', previousPage);
document.querySelector('.next').addEventListener('click', nextPage);

showPage(currentPage);




			{# script theme claire/sombre  #}

const btnToggle = document.querySelector('.btn-toggle');

btnToggle.addEventListener('click', () => {

    const body = document.body;

    if(body.classList.contains('dark')){

        body.classList.add('light')
        body.classList.remove('dark')
        btnToggle.innerHTML = "Go Dark"

    } else if(body.classList.contains('light')){

        body.classList.add('dark')
        body.classList.remove('light')
        btnToggle.innerHTML = "Go Light"

    }

})
			</script>
{% endblock %}

  
