{% extends 'back/base.html.twig' %}


{% block body %}
            <!-- Table Start -->
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
            <div class="container-fluid pt-4 px-4" style="bottom:0;">
           <h1> Liste promotion </h1>
                {# <div class="card-body"> #}
                                <div class="table-responsive">
                        
                                    <table class="table">
                                    <thead>
                                        <tr>
                                           <th>Id</th>
                                              <th>pourcentage</th>
                                             
                                           <th>date< fin/th>
                                    
                                           
                                               
                                        </tr>
                                    </thead>
                                   
                                    <tbody> 
                                     {% for promotion in promotion %}
                                            <tr>
                                                 <td>{{ promotion.id }}</td>
                                                <td>  {{ promotion.pourcentage }}</td>
                                                  <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</td>  
                              
                                             <td>
                                      
                                            <a href="{{ path('app_promotion_edit', {'id': promotion.id}) }}">edit</a>
                                            <a href= "{{ path('app_promotion_delete', {'id': promotion.id}) }}" >delete</a>
                                            
                                        
                                            
                                    


                                         
                                            
                                             </td>
                                         </tr>
                                          {% else %}
                                                      <tr>
                                                     <td colspan="6">no records found</td>
                                                      </tr>
                                          {% endfor %}
                          
                                      </tbody>
                                 </table>
                                  <a href="{{ path('app_promotion_new') }}">Create new</a>
                                             
                                              
                                            
                                         

    
                                
                                 
                                      
                            </div>
                            </div>
            <!-- Table End -->

            
    {% endblock %}
