{% extends 'back/base.html.twig' %}
{% block title %}
    <title>Table Admin</title>
    
{% endblock %}

{% block body %}

            <!-- Table End -->
            <div   class="row my-4">
            <a href="{{ path('app_user_newA')}}"><button type="button" class="btn btn-light m-2">Add New Admin</button></a>
              {% for user in users %}

        <div class="col-xl-6 mb-4">
            <div class="bg-secondary rounded h-100 p-4">
                {# <h6 class="mb-4">{{ user.nom }}</h6> #}
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                    <center>
                    <img  src="{{asset('uploads/'~ user.image )}}" alt="" class="img-thumbnail" style=" width:100px;">
                    </center>
                        {# <img class="img-fluid rounded-circle mx-auto mb-4" src="img/testimonial-1.jpg" style="width: 100px; height: 100px;"> #}
                        <h5 class="mb-1">{{ user.nom }} {{ user.prenom }}</h5>
                        <p>{{ user.userName }}</p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.numTel }}</p>
                   {% if app.user.etat == 0 %}
   <center>
     <table >
  <thead>
    <tr>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    
    <tr >
    
      <td>
       <a href="{{ path('app_user_editA', {'id': user.id}) }}"><button class="btn btn-secondary m-2"><i class="bi bi-pencil-square"></i></button></a>
       </td>
      <td> <form method="post" action="{{ path('app_user_deleteA', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                  <button class="btn btn-danger m-2"><i class="fa fa-trash"></i></button>
            </form>
      </td>
      <td><form method="post" action="{{ path('app_user_bannA', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to ban this user?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <button class="btn btn-danger m-2" >Ban</button>
                                                </form></td>
    <td>
<form method="post" action="{{ path('app_user_anbannA', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to unban this user?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <button class="btn btn-success m-2" >UnBan</button>
                                                </form>
    </td>
    </tr>

  </tbody> 
  </table>
     </center>

 
                                            {# <div class="navbar-nav align-items-center ms-auto">
                                                <form method="post" action="{{ path('app_user_deleteA', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <button class="btn btn-danger m-2"><i class="fa fa-trash"></i></button>
                                                </form>
                                                <a href="{{ path('app_user_editA', {'id': user.id}) }}"><button class="btn btn-secondary m-2"><i class="bi bi-pencil-square"></i></button></a>
                                                <form method="post" action="{{ path('app_user_bannA', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to ban this user?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <button class="btn btn-danger m-2" >Ban</button>
                                                </form>
                                               <form method="post" action="{{ path('app_user_bannA', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to ban this user?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    <button class="btn btn-danger m-2" >Ban</button>
                                                </form> #}
{# </div> #}
                                                {% else %}
                                                    You don't have access to actions
                                                    
                                                {% endif %}

                    </div>
                    
                </div>
            </div>
        </div>

        {% endfor %} 
    </div>
    <div class="navigation" >
    {{ knp_pagination_render(users) }}
</div>
            {% endblock %}

            