
    


    {% extends 'back/base.html.twig' %}

{% block body %}
<div class="row my-4">
  <div class="text-center">
    <h1>Promotion</h1>
  </div>
     {% for promotion in promotion %}


    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
   
                                                  
        <div class="card-body">
         <p class="card-title"> {{ promotion.id }}</p>
          <h5 class="card-title">{{ promotion.pourcentage   }} %</h5>
       
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">   {{ promotion.dateFin ? promotion.dateFin|date('Y-m-d') : '' }}</li>
       
         
        <div class="card-body">
      
          <a href="{{ path('app_promotion_edit', {'id': promotion.id}) }}" class="card-link"><i class="bi bi-pencil-square"></i> edit</a>
          <a href="{{ path('app_promotion_delete', {'id': promotion.id}) }}" class="card-link"><i class="bi bi-trash-fill"></i> delete</a>


        </div>
  
      </div>
  

    </div>
  
  {% endfor %}
           <div class="col-12">
    <a href="{{ path('app_promotion_new') }}" class="btn btn-primary mb-3">ADD New Promotion</a> <br>


        <div class="card-body">
        
       
        </div>
  </div>
</div>



{% endblock %}

