{% extends 'base.html.twig' %}

{% block title %}Calendrier index{% endblock %}

{% block body %}
    <h1>Calendrier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>All_day</th>
                <th>Background_color</th>
                <th>Border_color</th>
                <th>Text_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendrier in calendriers %}
            <tr>
                <td>{{ calendrier.id }}</td>
                <td>{{ calendrier.title }}</td>
                <td>{{ calendrier.start ? calendrier.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.end ? calendrier.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.description }}</td>
                <td>{{ calendrier.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ calendrier.backgroundColor }}</td>
                <td>{{ calendrier.borderColor }}</td>
                <td>{{ calendrier.textColor }}</td>
                <td>
                    <a href="{{ path('app_calendrier_show', {'id': calendrier.id}) }}">show</a>
                    <a href="{{ path('app_calendrier_edit', {'id': calendrier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_calendrier_new') }}">Create new</a>
{% endblock %}
